<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cliente">
    
    <select id="obtenerCliente"  resultType="pojo.Cliente"> 
        SELECT idCliente,cl.idDireccion,cl.nombre,cl.apellidoPaterno,cl.apellidoMaterno,cl.telefono,cl.correo, concat(d.calle,' ',d.numero,' ',d.colonia,' ',d.codigoPostal) AS 'direccion'
        FROM Cliente cl
        INNER JOIN DireccionCliente d ON d.idDireccion = cl.idDireccion
    </select>

    <select id="obtenerClienteNombre"  resultType="pojo.Cliente"> 
        SELECT idCliente,cl.idDireccion,cl.nombre,cl.apellidoPaterno,cl.apellidoMaterno,cl.telefono,cl.correo,d.calle AS 'Calle',d.numero AS 'Numero',d.colonia AS 'colonia',d.codigoPostal AS 'codigoPostal'
        FROM Cliente cl
        INNER JOIN DireccionCliente d ON d.idDireccion = cl.idDireccion
        WHERE cl.nombre = #{nombre}
    </select>
    
    <select id="obtenerClienteTelefono"  resultType="pojo.Cliente"> 
        SELECT idCliente,cl.idDireccion,cl.nombre,cl.apellidoPaterno,cl.apellidoMaterno,cl.telefono,cl.correo,d.calle AS 'calle',d.numero AS 'numero',d.colonia AS 'colonia',d.codigoPostal AS 'codigoPostal'
        FROM Cliente cl
        INNER JOIN DireccionCliente d ON d.idDireccion = cl.idDireccion
        WHERE cl.telefono = #{telefono}
    </select>

    <select id="obtenerClienteCorreo"  resultType="pojo.Cliente"> 
        SELECT idCliente,cl.idDireccion,cl.nombre,cl.apellidoPaterno,cl.apellidoMaterno,cl.telefono,cl.correo,d.calle AS 'calle',d.numero AS 'numero',d.colonia AS 'colonia',d.codigoPostal AS 'codigoPostal'
        FROM Cliente cl
        INNER JOIN DireccionCliente d ON d.idDireccion = cl.idDireccion
        WHERE cl.correo = #{correo}
    </select>
    
    <insert id="registrarCliente" parameterType="map">
    CALL InsertarClienteConDireccion(
        #{nombre},
        #{apellidoPaterno},
        #{apellidoMaterno},
        #{telefono},
        #{correo},
        #{calle},
        #{numero},
        #{colonia},
        #{codigoPostal}
    )
    </insert>
    
    
    <insert id="registrarDireccion" parameterType="pojo.Cliente" >
        INSERT INTO DireccionCliente(calle,numero,colonia,codigoPostal)
        VALUES (#{calle},#{numero},#{colonia},#{codigoPostal});
    </insert>

   <update id="editarCliente" parameterType="map">
    CALL ActualizarClienteConDireccion(
        #{idCliente},
        #{nombre},
        #{apellidoPaterno},
        #{apellidoMaterno},
        #{telefono},
        #{correo},
        #{calle},
        #{numero},
        #{colonia},
        #{codigoPostal}
    )
    </update>
    
    <delete id="eliminarClienteId" parameterType="pojo.Cliente">
        DELETE
        FROM Cliente
        WHERE idCliente = #{idCliente}
    </delete>
</mapper>