<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="colaborador">
    
    <select id="obtenerColaborador" resultType="pojo.Colaborador">
    SELECT  c.idColaborador,c.nombre,c.apellidoPaterno,c.apellidoMaterno,c.curp,c.correo,c.password,c.idRol,r.descripcionRol AS 'rol',c.fotografia ,c.noPersonal,cd.numeroLicencia as 'numeroLicencia'
    FROM  colaborador c
    INNER JOIN Rol r ON r.idRol = c.idRol
    left JOIN conductor cd ON c.idColaborador = cd.idColaborador 
    </select>

    <select id="obtenerColaboradorNombre"  resultType="pojo.Colaborador">
    SELECT c.idColaborador,c.nombre,c.apellidoPaterno,c.apellidoMaterno,c.curp,c.correo,c.password,c.idRol,r.descripcionRol AS 'rol',c.fotografia,c.noPersonal,cd.numeroLicencia
    FROM colaborador c
    INNER JOIN Rol r ON r.idRol = c.idRol
    LEFT JOIN conductor cd ON c.idColaborador = cd.idColaborador
    WHERE c.nombre LIKE CONCAT('%', #{nombre}, '%') 
    </select>

    <select id="obtenerColaboradorNoPersonal"  resultType="pojo.Colaborador">
        SELECT c.idColaborador,c.nombre,c.apellidoPaterno,c.apellidoMaterno,c.curp,c.correo,c.password,c.idRol,r.descripcionRol AS 'rol',c.fotografia,c.noPersonal,cd.numeroLicencia
    FROM colaborador c
    INNER JOIN Rol r ON r.idRol = c.idRol
    LEFT JOIN conductor cd ON c.idColaborador = cd.idColaborador
    WHERE c.NoPersonal = #{NoPersonal};
    </select>
    
    <select id="obtenerColaboradorRol"  resultType="pojo.Colaborador">
        SELECT c.idColaborador,c.nombre,c.apellidoPaterno,c.apellidoMaterno,c.curp,c.correo,c.password,c.idRol,r.descripcionRol AS 'rol',c.fotografia,c.noPersonal,cd.numeroLicencia
    FROM colaborador c
    INNER JOIN Rol r ON r.idRol = c.idRol
    LEFT JOIN conductor cd ON c.idColaborador = cd.idColaborador
    WHERE r.DescripcionRol = #{rol};
    </select>

    <insert id="registrarColaborador" parameterType="map">
        CALL RegistrarColaborador(
            #{nombre},
            #{apellidoPaterno},
            #{apellidoMaterno},
            #{curp},
            #{correo},
            #{password},
            #{idRol},
            #{noPersonal},
            #{numeroLicencia}
        )
    </insert>

    
    
<update id="editarColaborador" parameterType="map">
    CALL actualizarColaborador(
        #{idColaborador},
        #{nombre},
        #{apellidoPaterno},
        #{apellidoMaterno},
        #{curp},
        #{noPersonal},
        #{correo},
        #{password},
        #{idRol},
        #{numeroLicencia}
    )
</update>


     <insert id="actualizarConductor" parameterType="pojo.Colaborador" >
     INSERT INTO Conductor (idColaborador,numeroLicencia)
     VALUES (#{idColaborador}, #{numeroLicencia});
    </insert>
    
    
    <delete id="eliminarColaboradorId" parameterType="pojo.Colaborador">
        DELETE
        FROM Colaborador
        WHERE idColaborador = #{idColaborador}
    </delete>
    
    <update id="guardarFoto" parameterType="map"> 
    UPDATE colaborador
    SET fotografia = #{fotografia}
    WHERE idColaborador = #{idColaborador};
    </update>
     
    <select id="obtenerFoto" parameterType="int" resultType="pojo.Colaborador">
    SELECT idColaborador, c.nombre, c.apellidoPaterno, c.apellidoMaterno, 
           TO_BASE64(fotografia) as fotoBase64
    FROM colaborador c
    WHERE c.idColaborador = #{idColaborador};
    </select>
    <select id="obtenerConductorLibre"  resultType="pojo.Colaborador">
   SELECT
    c.idColaborador,
    c.nombre,
    c.apellidoPaterno,
    c.apellidoMaterno,
    cd.numeroLicencia, 
    cd.idConductor
    FROM
        colaborador c
    left JOIN 
    conductor cd ON c.idColaborador = cd.idColaborador 
     left join 
     asociacionvehiculo a on cd.idConductor = a.idConductor 
     WHERE 
    a.idConductor is null and cd.numeroLicencia is not null
    </select>
    
</mapper>