<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="unidad">
   
    <select id="obtenerUnidad" resultType="pojo.Unidad">
    SELECT u.IdUnidad, u.VIN, u.Marca, u.Modelo, u.Año, u.IdInterno,t.IdTipo
    FROM Unidad u
    INNER JOIN TipoUnidad t ON t.IdTipo = u.IdTipo;
    </select> 
    <select id="obtenerUnidadVIN" resultType="pojo.Unidad">
    SELECT u.IdUnidad, u.VIN, u.Marca, u.Modelo, u.Año, u.IdInterno,t.IdTipo
    FROM Unidad u
    INNER JOIN TipoUnidad t ON t.IdTipo = u.IdTipo
    WHERE u.VIN = #{VIN};
    </select>
    
    <select id="obtenerUnidadMarca" resultType="pojo.Unidad">
    SELECT u.IdUnidad, u.VIN, u.Marca, u.Modelo, u.Año, u.IdInterno,t.IdTipo
    FROM Unidad u
    INNER JOIN TipoUnidad t ON t.IdTipo = u.IdTipo
    WHERE u.Marca = #{Marca};
    </select>
    
    <select id="obtenerUnidadIdInterno" resultType="pojo.Unidad">
    SELECT u.IdUnidad, u.VIN, u.Marca, u.Modelo, u.Año, u.IdInterno,t.IdTipo
    FROM Unidad u
    INNER JOIN TipoUnidad t ON t.IdTipo = u.IdTipo
    WHERE u.IdInterno = #{IdInterno};
    </select>
    
     <insert id="registrarUnidad" parameterType="pojo.Unidad" >
     INSERT INTO Unidad (VIN, Marca, Modelo, Año, IdInterno, IdTipo)
     VALUES (#{VIN}, #{Marca}, #{Modelo}, #{Año}, #{IdInterno}, #{IdTipo});
    </insert>
    
    <update id="editarUnidad" parameterType="pojo.Unidad">
    UPDATE Unidad
    SET   Marca = #{Marca}, Modelo = #{Modelo},Año = #{Año},IdInterno = #{IdInterno},IdTipo = #{IdTipo}
    WHERE IdUnidad = #{IdUnidad};
    </update>

    <delete id="eliminarUnidadId" parameterType="pojo.Unidad">
        DELETE
        FROM Unidad
        WHERE IdUnidad = #{IdUnidad}
    </delete>
    
 
</mapper>