<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="unidad">
   
    <select id="obtenerUnidad" resultType="pojo.Unidad">
    SELECT u.idUnidad, u.vin, u.marca, u.modelo, u.año as 'año', u.idInterno,u.idTipo,t.descripcionTipo 
    FROM Unidad u
    INNER JOIN TipoUnidad t ON t.idTipo = u.idTipo; 
    </select> 
    <select id="obtenerUnidadVIN" resultType="pojo.Unidad">
    SELECT u.idUnidad, u.vin, u.marca, u.modelo, u.año, u.idInterno,u.idTipo
    FROM Unidad u
    INNER JOIN TipoUnidad t ON T.idTipo = u.idTipo
    WHERE u.vin = #{vin};
    </select>
    
    <select id="obtenerUnidadMarca" resultType="pojo.Unidad">
    SELECT u.idUnidad, u.vin, u.marca, u.modelo, u.año, u.idInterno,u.idTipo
    FROM Unidad u
    INNER JOIN TipoUnidad t ON T.idTipo = u.idTipo
    WHERE u.marca = #{marca};
    </select>
    
    <select id="obtenerUnidadIdInterno" resultType="pojo.Unidad">
    SELECT u.idUnidad, u.vin, u.marca, u.modelo, u.año, u.idInterno,u.idTipo
    FROM Unidad u
    INNER JOIN TipoUnidad t ON T.idTipo = u.idTipo
    WHERE u.idInterno = #{idInterno};
    </select>
    
     <insert id="registrarUnidad" parameterType="pojo.Unidad">
    CALL InsertarUnidad(
        #{vin},
        #{marca},
        #{modelo},
        #{año},
        #{idTipo}
    )
    </insert>
    
    <update id="editarUnidad" parameterType="pojo.Unidad">
    UPDATE Unidad
    SET   marca = #{marca}, modelo = #{modelo},año = #{año},idTipo = #{idTipo}
    WHERE idUnidad = #{idUnidad};
    </update>

    <delete id="eliminarUnidadId" parameterType="pojo.Unidad">
        DELETE
        FROM Unidad
        WHERE idUnidad = #{idUnidad}
    </delete>
    <select id="obtenerTipo" resultType="pojo.Unidad">
    SELECT idTipo,t.descripcionTipo
    FROM tipoUnidad t
    </select>
    
    <insert id="bajaUnidad" parameterType="pojo.BajaUnidad">
    INSERT INTO bajasunidad (idUnidad,Motivo)
        VALUES (#{idUnidad},#{motivoBaja})
    </insert>
    <select id="obtenerUnidadLibre" resultType="pojo.Unidad"> 
    SELECT 
        u.idUnidad, 
        u.vin, 
        u.marca, 
        u.modelo, 
        u.año,
        u.idInterno, 
        u.idTipo, 
        t.descripcionTipo AS 'tipoUnidad'
    FROM 
        Unidad u
    INNER JOIN 
        TipoUnidad t ON t.idTipo = u.idTipo
    LEFT JOIN 
        bajasUnidad b ON u.idUnidad = b.idUnidad
    left join 
        asociacionvehiculo a on u.idUnidad = a.idUnidad 
    WHERE 
        b.idUnidad IS null and a.idUnidad is null
    </select>
 
</mapper>